$primaryLighterColor:#EBDFDA;
$primaryColor:#e30613;
$primaryDarkColor: #900810;
$primaryDarkerColor: #61050e;
$primaryTextColor:#FDE3D7;

$accentColor:$primaryColor;
$accentDarkerColor:$primaryDarkColor;
$accentColorText:$primaryTextColor;

$containerHeaderBgColor:$primaryLighterColor;
$containerHeaderBorder:0px solid $primaryColor;
$containerHeaderTextColor:$primaryColor;
$containerHeaderIconColor:$primaryColor;
$containerHeaderIconHoverColor:$primaryColor;

$clickableContainerHeaderBgColor:$primaryLighterColor;
$clickableContainerHeaderBorder:0px solid $primaryColor;
$clickableContainerHeaderTextColor:$primaryColor;
$clickableContainerHeaderIconColor:$primaryColor;

$clickableContainerHeaderHoverBgColor:$primaryLighterColor;
$clickableContainerHeaderHoverBorder:0px solid $primaryDarkColor;
$clickableContainerHeaderHoverTextColor:$primaryColor;
$clickableContainerHeaderHoverIconColor:$primaryColor;

$clickableContainerHeaderActiveBgColor:$primaryLighterColor;
$clickableContainerHeaderActiveBorder:0px solid $accentColor;
$clickableContainerHeaderActiveTextColor:$primaryColor;
$clickableContainerHeaderActiveIconColor:$primaryColor;

$clickableContainerHeaderActiveHoverBgColor:$primaryLighterColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $accentColor;
$clickableContainerHeaderActiveHoverTextColor:$primaryColor;
$clickableContainerHeaderActiveHoverIconColor:$primaryColor;

@import '../../sass/theme/_theme';
