$primaryLighterColor:#EBDFDA;
$primaryColor:#e30613;
$primaryDarkColor: #900810;
$primaryDarkerColor: #61050e;
$primaryTextColor:#FDE3D7;
$primaryHoverTextColor:#FDE3D7;

$accentColor:$primaryColor;
$accentDarkerColor:$primaryDarkColor;
$accentColorText:$primaryTextColor;

$containerHeaderBgColor:#EBDFDA;
$containerHeaderBorder:1px solid #EBDFDA;
$containerHeaderTextColor:#212121;
$containerHeaderIconColor:#757575;
$containerHeaderIconHoverColor:#212121;

$clickableContainerHeaderBgColor:#EBDFDA;
$clickableContainerHeaderBorder:1px solid #EBDFDA;
$clickableContainerHeaderTextColor:#212121;
$clickableContainerHeaderIconColor:#757575;

$clickableContainerHeaderHoverBgColor:#EBDFDA;
$clickableContainerHeaderHoverBorder:1px solid #EBDFDA;
$clickableContainerHeaderHoverTextColor:#212121;
$clickableContainerHeaderHoverIconColor:#757575;

$clickableContainerHeaderActiveBgColor:$primaryColor;
$clickableContainerHeaderActiveBorder:1px solid $primaryColor;
$clickableContainerHeaderActiveTextColor:$primaryTextColor;
$clickableContainerHeaderActiveIconColor:$primaryTextColor;

$clickableContainerHeaderActiveHoverBgColor:$primaryDarkColor;
$clickableContainerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$clickableContainerHeaderActiveHoverTextColor:$primaryHoverTextColor;
$clickableContainerHeaderActiveHoverIconColor:$primaryColor;

@import '../../sass/theme/_theme';
