$logoBgColor:#e30613;
$topbarBgColor:#e30613;
$topbarIconColor:#fde3d7;
$topbarIconHoverBgColor:#fde3d7;
$lightMenuitemActiveTextColor:#fde3d7;
$darkMenuitemActiveTextColor:#fde3d7;
$horizontalMenuitemActiveBgColor:transparent;
$horizontalMenuitemActiveTextColor:#fde3d7;
$badgeBgColor:#e30613;
$badgeTextColor:#e30613;

@import '../../sass/layout/_layout';
