/* cabin-300 - latin-ext_latin */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  /* cabin-regular - latin-ext_latin */
  @font-face {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  /* cabin-700 - latin-ext_latin */
  @font-face {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
  }
